
.wrapper_list .container_interest {
    margin: 25px 0 0 0;
}

.wrapper_pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 35px 0;
}

#pagination {
    margin: 0 10px;
    width: 45px;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #dfe1e5;
}

#pagination:active {
    outline: none;
}

.pagination_prev, .pagination_next {
    cursor: pointer;
}